.cardRefaction{
    color:#fff;
    padding:1em 0;
    border-radius: 1em;
    margin: auto;
    width: 70%;
    border:1px solid black;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    p{
        margin: 0;
    }
    .left{
        width: 50%;
    }

    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
    }
}

.pending{
    background-color: #182E46;
}

.ready{
    background-color: #11832A;
}