.login{
    background:#fff url('https://res.cloudinary.com/dmtvwe2ur/image/upload/v1621226311/bg-ste_odr5gk.png') no-repeat left;
    background-size: 25%;
    height: 100vh;
    img{
        display: block;
        max-width: 300px;
        margin:auto;
    }
}