.login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#fff url('https://res.cloudinary.com/dmtvwe2ur/image/upload/v1621226311/bg-ste_odr5gk.png') no-repeat left;
    background-size: 25%;
    .customBtn{
        margin:0
    }
}