@import './variables.scss';

.bodyContent{
    margin-left: 10%;
    width: 90%;
    padding:2em;
}

a{
    text-decoration: none;
    color:#fff;
    &:hover{
        text-decoration: none;
        color:#fff;
    }
}

@import './buttons.scss';
@import './login.scss';
@import './utilities.scss';
@import './forms.scss';
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';