$baseMargin:5;

.w-25{
    width: 25%;
}

.w-15{
    width: 15 !important;
}

.newTicketName{
    width: 16.5%;
}

.w-50{
    width: 50%;
}

.w-100{
    width: 100%;
}

.w-40{
    width: 40%;
}

.w-80{
    width: 80%;
}

.w-70{
    width: 70%;
}

.h-100vh{
    height: 100vh;
}
.reload{
    background-color: #182E46;
    color:#fff;
    text-align: center;
    margin:10px 10%;
    padding:10px 0;
    border-radius: 10px;
    cursor:pointer;
}

.img-fullScreen{
    height: 70vh;
}

.w-60{
    width: 60%;
}

.mr-3{
    margin-right: ($baseMargin*3)px !important;
}

.mt-3{
    margin-right: ($baseMargin*3)px !important;
}